* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  margin-bottom: 50px;
}

.logo-container > img {
  width: 10vw;
  max-width: 50px;
}

.container {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 600px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #333;
}

.img-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-box {
  text-align: center;
  margin: 10px;
}

.img-box img {
  width: 20vw;
  max-width: 100px;
  height: auto;
  transition: transform 0.2s;
}

.img-box img:hover {
  transform: scale(1.1);
}

.label {
  display: block;
  margin-top: 10px;
  font-size: 1.2em;
  color: #555;
}

#feedBack {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.5em;
  }
  #feedBack {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.2em;
  }
  .img-box img {
    width: 30vw;
  }
  #feedBack {
    font-size: 14px;
  }
}
